@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #ebedec;
}

// キーボードのアニメーション設定
@for $i from 0 through 15 {
  .key-line-1 div:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.1}s;
  }
}

@for $i from 0 through 14 {
  .key-line-2 div:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.1+1.5}s;
  }
}

@for $i from 0 through 13 {
  .key-line-3 div:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.1+2.9}s;
  }
}

@for $i from 0 through 13 {
  .key-line-4 div:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.1+4.2}s;
  }
}

@for $i from 0 through 5 {
  .key-line-5 div:nth-child(#{$i}n) {
    animation-delay: #{$i * 0.1+5.5}s;
  }
}
