---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/portfolio/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Hiraku Morimoto's portfolio</title>
  </head>
  <body class="flex flex-col min-h-screen bg-main text-font">
    <Header />
    <div class="mt-20"></div>

    <main class="flex-grow">
      <div class="flex justify-center">
        <h1 class="text-3xl font-bold mb-4">森元拓 (Hiraku Morimoto)</h1>
      </div>

      <div class="flex justify-center">
        <p>hogehoge</p>
      </div>
    </main>

    <Footer />
  </body>
</html>
