---

---

<header class="bg-font text-white p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/portfolio" class="text-2xl font-bold hover:text-gray-200"
      >portfolio</a
    >
    <nav>
      <a href="/portfolio" class="px-3 hover:text-gray-200">home</a>
      <a href="/portfolio/about" class="px-3 hover:text-gray-200">about</a>
    </nav>
  </div>
</header>
